# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env

# ML/DL
*.pkl
*.h5
models/
mlruns/

# Data
data/*.csv
data/*.zip
data/raw/
data/processed/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Jupyter
.ipynb_checkpoints/